<div class="content">
 <div class="msg-container mt01">
  @for(msg of chat_data;track $index){
  <div class="msg-text-box" [ngClass]="msg['sender_id'] == sender_id ? 'end':''">
   <div class="msg-text-class">
    {{msg['msg']}}
   </div>
   <p>{{msg['display_time']}}</p>
  </div>
  }
 </div>
@if(receiver_id){
 <div class="msg-text">
  <div class="msgInput">
   <input type="text" [(ngModel)]="msg">
   <button class="send-button" (click)="sendMsg()">
    <i class="fa-solid fa-paper-plane fa-xl"></i>
   </button>
  </div>
 </div>
}@else{
 <h1 class="notify">Please select the friend to Chat.</h1>
}
</div>