.main-container{
 width: 100%;
 height: auto;
 display: flex;
}
.chat-box{
 width: 100%;
 height: 93vh;
}
.content{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 background: linear-gradient(to bottom right, black, skyblue);
 align-items: center;
}
.msg-container{
 width: 90%;
 height: 80%;
 border-radius: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: end;
 align-items: end;
}
.msg-text{
 width: 100%;
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.msgInput{
 width: 80%;
 height: 40%;
 outline: none;
 // border: 2px solid black;
 border-radius: 1rem;
 position: relative;
 padding: 0.2rem;
}

.msgInput input{
 width: 95%;
 height: 100%;
 border: none;
 outline: none;
 font-size: 2rem;
 text-indent: 1rem;
 border-radius: 1rem;
}
.send-button{
 width: 5%;
 height: 90%;
 position: absolute;
 border-radius: 1rem;
}

.msg-text-box{
 width: 98%;
 height: 2rem;
 margin: 0.1rem;
 display: flex;
 justify-content: start;
 align-items: center;
 padding: 0 0.5rem;
 &.end{
  .msg-text-class{
   background-color:aquamarine
  }
 }
 p{
  margin-top: 1rem;
  font-size: 0.7rem;
  font-family: jetBrains mono,monospace;
  color: white;
  margin-left: 0.2rem;
 }
}

.notify{
 font-family: jetBrains mono,monospace;
}

.end{
 justify-content: end;
}

.msg-text-class{
 font-size: 1.2rem;
 padding: 0.2rem 0.5rem;
 border-radius: 4px;
 background-color: rgb(152, 152, 152);
 color: #333;
 font-weight: 300;
 color: black;
 font-family: jetBrains mono,monospace;
}


@media (max-width: 744px) {
 .content{
  height: 97%;
 }
 .msgInput input{
  height: 70%;
  width: 90%;
 }
 .send-button{
  height: 70%;
  width: 17%;
 }
 .msg-text-class{
  margin-left: 1rem;
 }
}